LANDING_DISTANCE:
  2

#fx fy cx cy
cam_intrinsics_435: [607.4324951171875, 606.439697265625, 421.5857238769531, 243.94647216796875]
cam_intrinsics_455: [420.04037475585948, 419.7333984375, 425.25750732421875, 257.9543762207031]

cam_ugv_extrinsics_d455: [0.54446, 0.0, 0.0307356, 0.0, -20.0, 180.0] #xyzrpy

cam_FOV_H: 90
cam_FOV_V: 65

final_corridor_height: 0.4
final_corridor_length: 1.2

landing_horizontal: 1.2

LED_r_number: 3 #2
LED_g_number: 3

LED_positions:
#6LEDs non-planar
  - x: 0.0727433
    y: -0.0765
    z: -0.05678305 #

  - x: 0.0467723
    y: -0.05
    z: -0.0720355

  - x: 0.0467723
    y: -0.03
    z: -0.0720355

  - x: 0.0467723
    y: 0.03
    z: -0.0320355

  - x: 0.0467723
    y: 0.05
    z: -0.0720355

  - x: 0.0727433
    y: 0.0765
    z: -0.05678305

#5LEDs co-planar
  # - x: 0.0517723
  #   y: -0.050
  #   z: -0.0720355 #

  # - x: 0.0517723
  #   y: -0.03
  #   z: -0.0320355

  # - x: 0.0517723
  #   y: -0.0125
  #   z: -0.0720355

  # - x: 0.0517723
  #   y: 0.0215
  #   z: -0.0395335

  # - x: 0.0517723
  #   y: 0.05
  #   z: -0.0720355

#theoretical values...
  # - x: 0.085
  #   y: -0.075
  #   z: -0.030 #

  # - x: 0.055
  #   y: -0.05
  #   z: -0.05

  # - x: 0.055
  #   y: -0.03
  #   z: -0.05

  # - x: 0.055
  #   y: 0.03
  #   z: -0.01

  # - x: 0.055
  #   y: 0.05
  #   z: -0.05

  # - x: 0.085
  #   y: 0.075
  #   z: -0.03

ARUCO_positions:
  - x: 0.01
    y: 0.0225
    z: -0.055
  - x: 0.01
    y: -0.0225
    z: -0.055
  - x: 0.01
    y: -0.0225
    z: -0.010
  - x: 0.01
    y: 0.0225
    z: -0.010

weightpath:
  "/home/patty/alan_ws/src/alan/offb/src/include/yolo/uav_new.weights"

cfgpath:
  "/home/patty/alan_ws/src/alan/offb/src/include/yolo/uav_new.cfg"

classnamepath:
  "/home/patty/alan_ws/src/alan/offb/src/include/yolo/uav.names"


MAD_dilate:
  10.0
MAD_max:
  0.1


BINARY_threshold:
 20

frame_width:
 848
frame_height:
 480

failsafe_threshold:
 0.20

failsafe_on:
 1 
 #1 on, 
 #0 off





















# for algo test
# ----------------------------------------------------------------------------------
pts_2d_list:
  - x: 314.867
    y: 358.133

  - x: 325.697
    y: 364.697

  - x: 332.5
    y: 364.5

  - x: 354.242
    y: 351.03
    
  - x: 361.734
    y: 365.038

  - x: 368.152
    y: 358.667

pts_2d_list_previous:
  - x: 324.0
    y: 232.778

  - x: 286.778
    y: 232.444

  - x: 277.133
    y: 231.867

  - x: 334.778
    y: 223.0
    
  - x: 261.0
    y: 221.222

  - x: 315.0
    y: 214.0


pts_3d_list:
  # - x: -0.487472
  #   y: -0.251221
  #   z: 0.9405

  - x: -0.542089
    y: -0.25097
    z: 0.9395

  - x: -0.553108
    y: -0.251537
    z: 0.936

  - x: -0.464092
    y: -0.259523
    z: 0.9225

  - x: -0.569076
    y: -0.258412
    z: 0.90775

  - x: -0.502891
    y: -0.288639
    z: 0.945       

pts_3d_list_previous:
  - x: -0.467472
    y: -0.231221
    z: 0.9205

  - x: -0.522089
    y: -0.23097
    z: 0.9195

  - x: -0.533108
    y: -0.231537
    z: 0.916

  - x: -0.444092
    y: -0.239523
    z: 0.9025

  - x: -0.539076
    y: -0.238412
    z: 0.88775

  - x: -0.482891
    y: -0.258639
    z: 0.925       



  # - x: 0.055
  #   y: -0.0225
  #   z: -0.010
  # - x: 0.055
  #   y: 0.0225
  #   z: -0.010
  # - x: 0.055
  #   y: 0.0225
  #   z: -0.055
  # - x: 0.055
  #   y: -0.0225
  #   z: -0.055




  # - x: 0.055
  #   y: -0.0225
  #   z: -0.010
  # - x: 0.055
  #   y: 0.0225
  #   z: -0.010
  # - x: 0.055
  #   y: 0.0225
  #   z: -0.055
  # - x: 0.055
  #   y: -0.0225
  #   z: -0.055

  # - x: 0.0
  #   y: 0.0225
  #   z: -0.0225
  # - x: 0.0
  #   y: -0.0225
  #   z: -0.0225
  # - x: 0.0
  #   y: -0.0225
  #   z: 0.0225
  # - x: 0.0
  #   y: 0.0225
  #   z: 0.0225


  # - x: 0.055
  #   y: -0.0225
  #   z: -0.010
  # - x: 0.055
  #   y: 0.0225
  #   z: -0.010
  # - x: 0.055
  #   y: 0.0225
  #   z: -0.055
  # - x: 0.055
  #   y: -0.0225
  #   z: -0.055

# ARUCO_positions:
#   - z: 0.0
#     x: -0.0225
#     y: -0.0225
#   - z: 0.0
#     x: 0.0225
#     y: -0.0225
#   - z: 0.0
#     x: 0.0225
#     y: 0.0225
#   - z: 0.0
#     x: -0.0225
#     y: 0.0225