
<launch>
    <!-- <node pkg="nodelet" type="nodelet" name="dadiu" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="aruco" args="load alan_pose_estimation/ArucoNodelet dadiu" output="screen">
        <rosparam command="load" file="$(find alan)/launch/configs/alan_pose_estimation.yaml" />
        <remap from="/alan_pose/pose"  to="/mavros/vision_pose/pose"/>
    </node> -->
    <!-- <node pkg="nodelet" type="nodelet" name="cnn" args="standalone alan_pose_estimation/CnnNodelet dadiu" output="screen"/> -->
    <node pkg="nodelet" type="nodelet" name="led" args="standalone alan_pose_estimation/LedNodelet dadiu" output="screen"/>

</launch>
